
body{
	font-family: Arial;
	margin:0;
	padding:0;
	background-color: EFECE3;

}

header{
	background-color: #333;
	color:white;
	padding:15px;
	text-align: center;
}
header nav a{
	color:white;
	text-decoration:none;
	margin:20px;
	font-size: 16px;nt
}

header nav a:hover{
	text-decoration: underline;
}

main{
	padding:20px;
}

section div{
	padding:10px;
	margin-bottom: 5px;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.1);

}

form input{
	padding:5px;
	margin:5px 0;
	width:100%;
	max-width: 300px;
}
button{
	padding:10px 20px;
	background-color: #333;
	color:white;
	border:none;
	margin-top: 10px;
}
 button:hover {
 	background-color: #555;

 }

 footer{
 	text-align: center;
 	padding:10px;
 	background-color: #333;
 	color:white;
 	margin-top: 20px;
 }